openapi: 3.2.0
info:
  title: Couchbase Capella Management Users API
  description: The Couchbase Capella Management API is a REST API for provisioning, deploying, and configuring Couchbase Capella database-as-a-service deployments across AWS, Azure, and Google Cloud. It enables programmatic management of clusters, buckets, users, and organizations using API key authentication. The API supports automation of cloud database operations including scaling, configuration changes, and access management, with requests limited to 100 per minute per API key.
  version: '4.0'
  contact:
    name: Couchbase Support
    url: https://support.couchbase.com
  termsOfService: https://www.couchbase.com/terms-of-use
servers:
- url: https://cloudapi.cloud.couchbase.com
  description: Couchbase Capella Cloud API
security:
- bearerAuth: []
tags:
- name: Users
  description: Endpoints for managing users within a Capella organization.
paths:
  /v4/organizations/{organizationId}/users:
    get:
      operationId: listCapellaUsers
      summary: List organization users
      description: Returns the list of users in the specified organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Successful retrieval of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
components:
  parameters:
    perPage:
      name: perPage
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The UUID of the organization
      schema:
        type: string
        format: uuid
    page:
      name: page
      in: query
      required: false
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    PaginatedResponse:
      type: object
      description: Paginated response wrapper
      properties:
        cursor:
          type: object
          description: Pagination cursor information
          properties:
            pages:
              type: object
              properties:
                page:
                  type: integer
                  description: Current page number
                next:
                  type: integer
                  description: Next page number
                previous:
                  type: integer
                  description: Previous page number
                last:
                  type: integer
                  description: Last page number
                perPage:
                  type: integer
                  description: Items per page
                totalItems:
                  type: integer
                  description: Total number of items
        data:
          type: array
          description: List of items
          items: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Capella API key secret.
externalDocs:
  description: Couchbase Capella Management API Documentation
  url: https://docs.couchbase.com/cloud/management-api-reference/index.html
