openapi: 3.2.0
info:
  title: Couchbase Capella Management API Keys API
  description: The Couchbase Capella Management API is a REST API for provisioning, deploying, and configuring Couchbase Capella database-as-a-service deployments across AWS, Azure, and Google Cloud. It enables programmatic management of clusters, buckets, users, and organizations using API key authentication. The API supports automation of cloud database operations including scaling, configuration changes, and access management, with requests limited to 100 per minute per API key.
  version: '4.0'
  contact:
    name: Couchbase Support
    url: https://support.couchbase.com
  termsOfService: https://www.couchbase.com/terms-of-use
servers:
- url: https://cloudapi.cloud.couchbase.com
  description: Couchbase Capella Cloud API
security:
- bearerAuth: []
tags:
- name: API Keys
  description: Endpoints for managing API keys used to authenticate with the Management API.
paths:
  /v4/organizations/{organizationId}/apikeys:
    get:
      operationId: listApiKeys
      summary: List API keys
      description: Returns the list of API keys configured for the organization.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Successful retrieval of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
    post:
      operationId: createApiKey
      summary: Create an API key
      description: Creates a new API key for authenticating with the Management API.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
        '400':
          description: Invalid API key configuration
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
components:
  parameters:
    perPage:
      name: perPage
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    page:
      name: page
      in: query
      required: false
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The UUID of the organization
      schema:
        type: string
        format: uuid
  schemas:
    PaginatedResponse:
      type: object
      description: Paginated response wrapper
      properties:
        cursor:
          type: object
          description: Pagination cursor information
          properties:
            pages:
              type: object
              properties:
                page:
                  type: integer
                  description: Current page number
                next:
                  type: integer
                  description: Next page number
                previous:
                  type: integer
                  description: Previous page number
                last:
                  type: integer
                  description: Last page number
                perPage:
                  type: integer
                  description: Items per page
                totalItems:
                  type: integer
                  description: Total number of items
        data:
          type: array
          description: List of items
          items: {}
    ApiKeyCreateResponse:
      type: object
      description: Response after creating an API key
      properties:
        id:
          type: string
          format: uuid
          description: API key UUID
        token:
          type: string
          description: The API key secret token (only returned once at creation time)
    ApiKeyCreateRequest:
      type: object
      description: Request to create an API key
      required:
      - name
      - organizationRoles
      properties:
        name:
          type: string
          description: Name for the API key
        description:
          type: string
          description: Description of the API key
        expiry:
          type: number
          description: Expiry time in days (0 for no expiry)
        organizationRoles:
          type: array
          description: Organization-level roles
          items:
            type: string
            enum:
            - organizationOwner
            - organizationMember
            - projectCreator
        resources:
          type: array
          description: Project-specific role assignments
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Project UUID
              roles:
                type: array
                items:
                  type: string
                  enum:
                  - projectOwner
                  - projectManager
                  - projectViewer
                  - projectDataReaderWriter
                  - projectDataReader
        allowedCIDRs:
          type: array
          description: CIDRs allowed to use this API key
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Capella API key secret.
externalDocs:
  description: Couchbase Capella Management API Documentation
  url: https://docs.couchbase.com/cloud/management-api-reference/index.html
