openapi: 3.2.0
info:
  title: Couchbase Capella Management Database Credentials API
  description: The Couchbase Capella Management API is a REST API for provisioning, deploying, and configuring Couchbase Capella database-as-a-service deployments across AWS, Azure, and Google Cloud. It enables programmatic management of clusters, buckets, users, and organizations using API key authentication. The API supports automation of cloud database operations including scaling, configuration changes, and access management, with requests limited to 100 per minute per API key.
  version: '4.0'
  contact:
    name: Couchbase Support
    url: https://support.couchbase.com
  termsOfService: https://www.couchbase.com/terms-of-use
servers:
- url: https://cloudapi.cloud.couchbase.com
  description: Couchbase Capella Cloud API
security:
- bearerAuth: []
tags:
- name: Database Credentials
  description: Endpoints for managing database access credentials for clusters.
paths:
  /v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/users:
    get:
      operationId: listDatabaseCredentials
      summary: List database credentials
      description: Returns the list of database access credentials configured for the specified cluster.
      tags:
      - Database Credentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/clusterId'
      responses:
        '200':
          description: Successful retrieval of database credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseCredential'
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
    post:
      operationId: createDatabaseCredential
      summary: Create database credentials
      description: Creates new database access credentials for the specified cluster.
      tags:
      - Database Credentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/clusterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCredentialCreateRequest'
      responses:
        '201':
          description: Database credentials created successfully
        '400':
          description: Invalid credentials configuration
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
components:
  schemas:
    DatabaseCredentialCreateRequest:
      type: object
      description: Request to create database credentials
      required:
      - name
      - password
      - access
      properties:
        name:
          type: string
          description: Credential name
        password:
          type: string
          description: Credential password (must meet complexity requirements)
        access:
          type: array
          description: Access privileges to assign
          items:
            type: object
            properties:
              privileges:
                type: array
                items:
                  type: string
                  enum:
                  - data_reader
                  - data_writer
              resources:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
    AuditInfo:
      type: object
      description: Audit timestamps
      properties:
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        modifiedAt:
          type: string
          format: date-time
          description: Last modification timestamp
        createdBy:
          type: string
          description: User who created the resource
        modifiedBy:
          type: string
          description: User who last modified the resource
        version:
          type: integer
          description: Resource version number
    DatabaseCredential:
      type: object
      description: Database access credential
      properties:
        id:
          type: string
          format: uuid
          description: Credential UUID
        name:
          type: string
          description: Credential name
        access:
          type: array
          description: Access privileges
          items:
            type: object
            properties:
              privileges:
                type: array
                items:
                  type: string
                  enum:
                  - data_reader
                  - data_writer
              resources:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        scopes:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              collections:
                                type: array
                                items:
                                  type: string
        audit:
          $ref: '#/components/schemas/AuditInfo'
  parameters:
    clusterId:
      name: clusterId
      in: path
      required: true
      description: The UUID of the cluster
      schema:
        type: string
        format: uuid
    projectId:
      name: projectId
      in: path
      required: true
      description: The UUID of the project
      schema:
        type: string
        format: uuid
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The UUID of the organization
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Capella API key secret.
externalDocs:
  description: Couchbase Capella Management API Documentation
  url: https://docs.couchbase.com/cloud/management-api-reference/index.html
