openapi: 3.2.0
info:
  title: Couchbase Scopes and Collections API
  contact:
    name: Couchbase Support
    url: https://support.couchbase.com
  termsOfService: https://www.couchbase.com/terms-of-use
  version: '1.0'
  description: 'Operations tagged Scopes and Collections across 2 of this provider''s published API definitions: couchbase-capella-management-api-openapi.yml, couchbase-server-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://cloudapi.cloud.couchbase.com
  description: Couchbase Capella Cloud API
- url: https://localhost:8091
  description: Couchbase Server (default port)
- url: https://localhost:18091
  description: Couchbase Server (SSL)
tags:
- name: Scopes and Collections
  description: Endpoints for managing scopes and collections within Capella buckets.
paths:
  /v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/scopes:
    get:
      operationId: listCapellaScopes
      summary: List scopes in a bucket
      description: Returns the list of scopes within the specified bucket.
      tags:
      - Scopes and Collections
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/clusterId'
      - $ref: '#/components/parameters/bucketId'
      responses:
        '200':
          description: Successful retrieval of scopes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CapellaScope'
        '401':
          description: Unauthorized access
        '404':
          description: Bucket not found
        '429':
          description: Rate limit exceeded
      security:
      - bearerAuth: []
    post:
      operationId: createCapellaScope
      summary: Create a scope
      description: Creates a new scope within the specified bucket.
      tags:
      - Scopes and Collections
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/clusterId'
      - $ref: '#/components/parameters/bucketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the scope to create
      responses:
        '201':
          description: Scope created successfully
        '400':
          description: Invalid scope configuration
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
      security:
      - bearerAuth: []
    servers:
    - url: https://cloudapi.cloud.couchbase.com
      description: Couchbase Capella Cloud API
  /pools/default/buckets/{bucketName}/scopes:
    get:
      operationId: listScopes
      summary: List scopes in a bucket
      description: Returns the list of all scopes and their collections within the specified bucket.
      tags:
      - Scopes and Collections
      parameters:
      - $ref: '#/components/parameters/bucketName'
      responses:
        '200':
          description: Successful retrieval of scopes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopesList'
        '401':
          description: Unauthorized access
        '404':
          description: Bucket not found
      security:
      - basicAuth: []
    post:
      operationId: createScope
      summary: Create a scope
      description: Creates a new scope within the specified bucket.
      tags:
      - Scopes and Collections
      parameters:
      - $ref: '#/components/parameters/bucketName'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the scope to create
      responses:
        '200':
          description: Scope created successfully
        '400':
          description: Invalid scope name
        '401':
          description: Unauthorized access
        '404':
          description: Bucket not found
      security:
      - basicAuth: []
    servers:
    - url: https://localhost:8091
      description: Couchbase Server (default port)
    - url: https://localhost:18091
      description: Couchbase Server (SSL)
  /pools/default/buckets/{bucketName}/scopes/{scopeName}/collections:
    post:
      operationId: createCollection
      summary: Create a collection
      description: Creates a new collection within the specified scope and bucket.
      tags:
      - Scopes and Collections
      parameters:
      - $ref: '#/components/parameters/bucketName'
      - $ref: '#/components/parameters/scopeName'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the collection to create
      responses:
        '200':
          description: Collection created successfully
        '400':
          description: Invalid collection name
        '401':
          description: Unauthorized access
        '404':
          description: Bucket or scope not found
      security:
      - basicAuth: []
    servers:
    - url: https://localhost:8091
      description: Couchbase Server (default port)
    - url: https://localhost:18091
      description: Couchbase Server (SSL)
components:
  parameters:
    clusterId:
      name: clusterId
      in: path
      required: true
      description: The UUID of the cluster
      schema:
        type: string
        format: uuid
    projectId:
      name: projectId
      in: path
      required: true
      description: The UUID of the project
      schema:
        type: string
        format: uuid
    bucketId:
      name: bucketId
      in: path
      required: true
      description: The ID of the bucket
      schema:
        type: string
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The UUID of the organization
      schema:
        type: string
        format: uuid
    bucketName:
      name: bucketName
      in: path
      required: true
      description: The name of the bucket
      schema:
        type: string
    scopeName:
      name: scopeName
      in: path
      required: true
      description: The name of the scope
      schema:
        type: string
  schemas:
    CapellaScope:
      type: object
      description: Scope within a Capella bucket
      properties:
        name:
          type: string
          description: Scope name
        collections:
          type: array
          description: Collections within the scope
          items:
            type: object
            properties:
              name:
                type: string
                description: Collection name
              maxTTL:
                type: integer
                description: Maximum TTL in seconds
    ScopesList:
      type: object
      description: List of scopes in a bucket
      properties:
        uid:
          type: string
          description: Unique identifier for the manifest
        scopes:
          type: array
          description: List of scopes
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of the scope
              uid:
                type: string
                description: Unique identifier for the scope
              collections:
                type: array
                description: Collections within the scope
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the collection
                    uid:
                      type: string
                      description: Unique identifier for the collection
                    maxTTL:
                      type: integer
                      description: Maximum TTL for documents in seconds
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Capella API key secret.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using Couchbase Server administrator credentials.
x-refined-from:
- couchbase-capella-management-api-openapi.yml
- couchbase-server-rest-api-openapi.yml
