openapi: 3.2.0
info:
  title: Couchbase Capella Management Organizations API
  description: The Couchbase Capella Management API is a REST API for provisioning, deploying, and configuring Couchbase Capella database-as-a-service deployments across AWS, Azure, and Google Cloud. It enables programmatic management of clusters, buckets, users, and organizations using API key authentication. The API supports automation of cloud database operations including scaling, configuration changes, and access management, with requests limited to 100 per minute per API key.
  version: '4.0'
  contact:
    name: Couchbase Support
    url: https://support.couchbase.com
  termsOfService: https://www.couchbase.com/terms-of-use
servers:
- url: https://cloudapi.cloud.couchbase.com
  description: Couchbase Capella Cloud API
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Endpoints for managing Capella organizations.
paths:
  /v4/organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: Returns the list of organizations the authenticated API key has access to.
      tags:
      - Organizations
      responses:
        '200':
          description: Successful retrieval of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized access
        '429':
          description: Rate limit exceeded
  /v4/organizations/{organizationId}:
    get:
      operationId: getOrganization
      summary: Get organization details
      description: Returns detailed information about a specific organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Successful retrieval of organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized access
        '404':
          description: Organization not found
        '429':
          description: Rate limit exceeded
components:
  schemas:
    Organization:
      type: object
      description: Capella organization
      properties:
        id:
          type: string
          format: uuid
          description: Organization UUID
        name:
          type: string
          description: Organization name
        description:
          type: string
          description: Organization description
        preferences:
          type: object
          description: Organization preferences
        audit:
          $ref: '#/components/schemas/AuditInfo'
    AuditInfo:
      type: object
      description: Audit timestamps
      properties:
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        modifiedAt:
          type: string
          format: date-time
          description: Last modification timestamp
        createdBy:
          type: string
          description: User who created the resource
        modifiedBy:
          type: string
          description: User who last modified the resource
        version:
          type: integer
          description: Resource version number
  parameters:
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The UUID of the organization
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Capella API key secret.
externalDocs:
  description: Couchbase Capella Management API Documentation
  url: https://docs.couchbase.com/cloud/management-api-reference/index.html
